* {
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
	font-size: 2rem;
	text-align: center;
}

button {
	padding: 2rem 3rem 2rem;
	text-align: center;
	background-color: lightblue;
	border: none;
	border-radius: 20px;
}

button:hover {
	cursor: pointer;
}

body {
	background-image: url("sea.jpg");
}

.ButtonSection {
	display: flex;
	justify-content: center;
	padding-top: 35vh;
}

.ButtonSection div {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.ButtonSection > div:nth-child(1) > a:nth-child(1) > button:nth-child(1) {
	padding-right: 5rem;
}

.regular {
	font-family: "Tiny5", sans-serif;
	font-weight: 400;
	font-style: normal;
}
